/* 
MOBILE FIRST
*/
body {
    margin: 0 0 0 0;
    background-color: rgb(255, 254, 253);
    color: rgb(43, 43, 43);
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
    
}

main {
    margin: auto 0.8em auto 0.8em;
}

footer {
    background-color: rgb(233, 116, 132);
    height: 5em;
    width:100%;
    margin-top: 1em;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

/* 
NAV BAR
*/

.top-bar {
    background-image: url(flores.jpg);
    height: 350px;
    padding: 10px;
    background-position-x: right;
    background-position-y: left;
}

.dropdown-top {
    display: flex;
    justify-content: flex-end;
}

.dropdown-top-button {
    width: 25vw;
    padding: 0.5em 0 0.5em 0em;
    border: none;
    border-radius: 2px;
    font-size: 0.95em;
    font-weight: 550;
    float:inline-start

    
}

.dropdown-top-button:hover{
    background-color: #c730582f;
    transition: 0.2s;
   
}

.dropdown-top:hover .dropdown-top-content {
    display: block;
}

.dropdown-top-content {
    width: 25vw;
    display: none;
    position: absolute;
    background-color: #814c5b;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 0 0 4px 4px;
}

.dropdown-top-content > a {
    background-color: rgb(240, 236, 188);
    border-radius: 4px;
    margin: 0.2em;
    padding: 0.5em 1em;
    display:grid;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.dropdown-top-content > a:nth-child(1):hover {
    background-color: #f9faf4;
    transition: 0.2s;

}

.dropdown-top-content > a:nth-child(2):hover {
    background-color:#f9faf4;
    transition: 0.2s;

}

.dropdown-top-content > a:nth-child(3):hover {
    background-color:#f9faf4;
    transition: 0.2s;
}

/* 
MIDDLE AREA
*/

.section {
    margin-top: 5vh;
}

.image-intro{
}
.rounded-corners {
    border-radius: 95px 95px 95px 95px;
    position: relative;
    left: 28%
   
}

.intro h1 {
    background: rgba(247, 241, 241, 0.65);     
    border-radius: 5px;
    padding: 3vw 5vh;
    font-size: 8vw;
}

.extra-info{
    display: none;
}

/* 
PROJECTS AND SKILLS
*/


.skill {
    border: 1px solid rgb(128, 128, 128);
    margin: 1em 0 1em 0;
    border-radius: 8px;
    height: 1em;
}

.skill-progress {
    height: 1em;
    border-radius: 8px;
    background-color: #4e0a1b;
}

#skill-html {
    animation-name: htmlProgressBar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes htmlProgressBar {
    0% { width: 0; }
    100% { width: 90%; }
}


#skill-css {
    animation-name: cssProgressBar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cssProgressBar {
    0% { width: 0; }
    100% { width: 80%; }
}

#skill-javascript {
    animation-name: jsProgressBar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes jsProgressBar {
    0% { width: 0; }
    100% { width: 20%; }
}

#skill-python {
    animation-name: pythonProgressBar;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

@keyframes pythonProgressBar {
    0% { width: 0; }
    100% { width: 85%; }
}

/* 
CONTACT FORM
*/

form > p {
    font-weight: 600;
    margin-top: 2em;
}

form input:not([type="radio"]) {
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    padding: 0.5em;
    margin: 1em auto 1em auto;
    box-sizing: border-box;
    font-size: 18px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container > span {
    display: flex;
    flex-direction: column;
}

.form-container > span > label {
    display: block;
}

form input[type="radio"] {
    width: 3em;
    height: 3em;
} 

form > div {
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 1em auto;
}

form input[type="submit"] {
    background-color: #a8f0ea;
    margin: 0.5em auto 2em auto;
    font-size: 1.0em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

form input[type="submit"]:hover{
    background-color: rgb(231, 157, 167);
    transition: 0.4s;
}

form > #message {
    width: 100%;
    max-width: 100%;
    min-height: 5em;
    max-height: 15em;
    margin: 1em auto 1em auto;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0.5em;
    box-sizing: border-box;
}

form > label[for="message"]{
    display: block;
    margin-top: 2em;
    font-weight: 600;
}

/* 
FOOTER
*/
  section #services {
    text-align:center;
    transform: translatez(0);
    background-color:rgb(252, 252, 252) ;
  }
  section #services h2 {
    margin:10%;
    color: rgb(172, 68, 68);
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
  }
  section #services li {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 15px;
    list-style: none;
  }
  section #services li div {
    width: 75px;
    height: 60px;
    color: #74d4b3;
    font-size: 3em;
    text-align:center

    background-color: #fff;
    transition: all 0.5s ease;
  }
  section #services li a {
    color: #4e0a1b;
  }
  section #services li div:hover {
    transform: rotate(360deg);
    border-radius: 100px;
  }
  section #services li span {
    width: 120px;
    height: 20px;
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
  }

/* 
DESKTOP SETTINGS
*/

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .extra-info{
        display: block;
    }

    .dropdown-top-button {
        width: 10vw;
    }
    
    .dropdown-top-content {
        width: 25vw;
    }

    .intro {
        height: 30vh;
    }
    
    .intro h1 {
        padding: 1rem 2rem;
        font-size: 3.5rem;
    }
    
    .project-img {
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        object-fit: cover;
    }


    .skill {
        width: 30em;
        margin: 1em 0 1em 0;
        border-radius: 8px;
        height: 1em;
    }
    
    .skill-progress {
        background-color: #4e0a1b;
    }

    form input:not([type="radio"]) {
        width: 30em;
        margin-left: 0;
        display: inline;
    }

    form > #message {
        margin-left: 0;
        resize: none;
        height: 10em;
    }

    form input[type="submit"] {
        width: 10em;
        margin-left: 0;
    }

    .logo-area img {
        height: 10em;
    }

}
